body {

}

#banner {
    padding: 25px;
    height: 350px;
    border: 5px solid red;
}

#left_banner {
	position: absolute;
	top: 50px;
	left: 50px;
	border: 0;
	width: 300px;
	height: 300px;
	title: "Tiva Launchpad";
}

#right_banner {
	position: absolute;
	top: 50px;
	right: 50px;
	border: 0;
	width: 300px;
	height: 300px;
	title: "Tiva Launchpad";
}

#banner h1 {
	font-size: 40px;
	position: absolute;
	top: 100px;
	margin-left: 25%;
	margin-right: 25%;
	text-align: justify;
}

#banner p {
	font-size: 25px;
	position: absolute;
	top: 200px;
	width: 600px;
	margin-left: 25%;
	margin-right: 25%;
	text-align: justify;
}

#log_button {
	font-size: 25px;
	position: absolute;
	top: 325px;
	margin-left: 45%;
	margin-right: 45%;
}

#title {
	margin-left: 15%;
	margin-right: 15%;
	text-align: left;
    font-size: 20px;
}

#posts {
	display: block;
	margin-left: 15%;
	margin-right: 15%;
	font-size: 20px;
	text-align: justify;
	border: 3px solid black;
}

#authors {
	margin-left: 15%;
	margin-right: 15%;
	text-align: left;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}